
:root{
    --cor--azul:#0A3871;
    --cor--cinza: #D8DFE8;
}

main{
    display: flex;
}

.lado_esquerdo_texto{
    width: 680px;
    height: 48px;
    top: 168px;
    left: 220px;
    border: 240px;
    border: 0px none;
    background-color: brown;
    padding: 5px;
}


.lado_esquerdo_boxbotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_btn{        
    position: absolute;
    bottom: 0;
}


.btn_cripto{
    width: Fixed (328px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background-color: #0A3871;
    color: #D8DFE8;
}

.btn_descripto{
    width: Fixed (328px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    background-color: var(--cor--cinza);
    color: var(--cor--azul);
}

.lado_direito{
    width: 400px;
    height: 510px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    background-color: greenyellow;
}

.lado_direito_imagem{
    width: 400px;
    height: 510px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
}